<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <section class="container main-content">
      <div class="main-wrapper">
        <div class="blog-wrapper">
          <div class="blog blog-detail">
            <% blog.map(each => { %>
            <h1>
              <span><%= each.title %></span>

              <span id="bookmark">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="bookmark"
                  fill="none"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-bookmark"
                >
                  <path
                    d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"
                  ></path></svg
              ></span>
            </h1>
            <small><%= new Date(each.createdAt).toDateString() %></small>
            <p><%= each.body %></p>
            <%}) %>
          </div>
          <div class="disqus-thread" id="disqus_thread"></div>
        </div>
        <%- include("../partials/aboutCard.ejs") %>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>All articles written by Ademola Madelewi</p>
      </div>
    </footer>

    <!-- <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
        this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://code-ya1uszotux.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    > -->

    <script async src="/index.js"></script>
    <script async src="/bookmark.js"></script>
  </body>
</html>
