<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <section class="container main-content">
      <div>
        <% if(blogs.length > 0){ %> <% blogs.map(blog => { %>
        <h1><%= blog.title %></h1>
        <p><%= blog.body %></p>
        <small><%= blog.createdAt %></small>
        <%}) %> <% } else { %>
        <h2>No articles available...</h2>
        <% } %>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>All articles written by Ademola Madelewi</p>
      </div>
    </footer>
    <script async src="/index.js"></script>
  </body>
</html>
