<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <section class="container main-content">
      <div class="main-wrapper">
      <div class="blog-wrapper">
        <% if(blogs.length > 0){ %> <% blogs.map(blog => { %>
        <div class="blog">
          <h1><a href= <%=`/blog-details/${blog.id}`%>><%= blog.title %></a></h1>
          <small><%= blog.createdAt %></small>
          <p class="truncate"><%= blog.body %></p>
        </div>
          <%}) %> <% } else { %>
          <h2>No articles available...</h2>
        
        <% } %>
      </div>
     <%- include("../partials/aboutCard.ejs") %>
    </div>
    </section>
    <footer>
      <div class="container">
        <p>All articles written by Ademola Madelewi</p>
      </div>
    </footer>
    <script async src="/index.js"></script>
  </body>
</html>
